<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User Register Page</title>
    <link th:href="@{/css/login.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<table>
    <div class="login-container">
        <div class="container">
            <form th:action="@{/register.html}" th:object="${user}" method="post">
                <h2>Register Form</h2>
                <div class="col">
                    <input type="text" placeholder="Username" th:field="*{username}" required>
                    <p th:each="error : ${#fields.errors('username')}" th:text="${error}"></p>
                    <input type="password" placeholder="Password" th:field="*{password}" required>
                    <input type="email" placeholder="Email" th:field="*{email}">
                    <p th:each="error : ${#fields.errors('email')}" th:text="${error}"></p>
                    <input type="text" placeholder="First Name" th:field="*{firstName}">
                    <p th:each="error : ${#fields.errors('fistname')}" th:text="${error}"></p>
                    <input type="text" placeholder="Last Name" th:field="*{lastName}">
                    <p th:each="error : ${#fields.errors('lastname')}" th:text="${error}"></p>
                    <!-- birt date ile ilgili çalışma yapmalıyım. -->
                    <input type="date" placeholder="Birth Date" >
                    <p th:each="error : ${#fields.errors('birthDate')}" th:text="${error}"></p>
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</table>
</body>
</html>